---
# tasks file for oh-my-zsh

  - apt: name={{ item }} state=latest
    when: ansible_pkg_mgr == 'apt'
    become: true
    with_items:
      - zsh
      - git
    notify: clean apt cache

  - yum: name={{ item }} state=latest
    when: ansible_pkg_mgr == 'yum'
    become: true
    with_items:
      - zsh
      - git
    notify: clean yum cache

  - git: repo=https://github.com/robbyrussell/oh-my-zsh.git dest=~/.oh-my-zsh accept_hostkey=true update=no
    become: true
    become_user: "{{ item }}"
    with_items: "{{ ohmyzsh_users | unique }}"

  - template: src=.zshrc.j2 dest=~/.zshrc backup=yes
    become: true
    become_user: "{{ item }}"
    with_items: "{{ ohmyzsh_users | unique }}"

  - user: name={{ item }} shell=/bin/zsh
    become: true
    with_items: "{{ ohmyzsh_users | unique }}"
