# {{ ansible_managed }}

export ZSH=$HOME/.oh-my-zsh

## Theme
ZSH_THEME="{{ ohmyzsh_theme }}"

## plugins
plugins=({{ ohmyzsh_plugins|join(' ') }})

## updates
DISABLE_AUTO_UPDATE={{ ohmyzsh_auto_update }}
export PATH=$HOME/bin:/usr/local/bin:$PATH

source $ZSH/oh-my-zsh.sh

## aliases
alias fnd="readlink -e $@"
alias prn="print -l $@"
